<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- output to file -->
<!-- 	<appender name="fileappender" class="ch.qos.logback.core.FileAppender"> -->
<!-- 		<file>logs/collector.log</file>   -->
<!--     	<append>true</append>	 -->
<!-- 		<encoder> -->
<!-- 			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n -->
<!-- 			</pattern> -->
<!-- 		</encoder> -->
<!-- 	</appender> -->
	
	<!-- output to roll append file -->
	<appender name="rollingFile"  
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/collectors.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <fileNamePattern>logs/xxx.%d{yyyy-MM-dd}.log.zip</fileNamePattern>  
        </rollingPolicy>         
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
    </appender>

	<root level="INFO">
		<appender-ref ref="rollingFile" />
	</root>
	
</configuration>